:root
{
    --text: #f0ebf6;
    --background: #0f0816;
    --primary: #be9ddf;
    --secondary: #4e227a;
    --accent: #8d44d5;
    --glass: rgba(78, 34, 122, .4);
}

[data-theme="light"] {
   --text: #101318;
    --background: #f2f4f9;
    --primary: #406dcd;
    --secondary: #80a3ef;
    --accent: #427efc; 
    --glass: rgb(128, 163, 239, .4);
}
