main
{
    hr 
    { 
        margin-bottom: 15px; 
        color: pink;
    }
    h2 
    { 
        margin-bottom: 12px ;
        color: pink;
    }

    #introduction
    {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .texts
        {
           width: 60%;
        }

    }

    #works .content
    {
        margin: 25px 0 50px 0;
    }

    #technologies
    {

        .category
        {

            margin: 25px 0;

            h3
            {
                font-size: 16px;
                margin: 15px;  
            }
        }
    }


    .grid
        {
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(4, minmax(0,1fr));
            row-gap: .5rem;
            column-gap: .5rem;

            list-style: none;
        }


}